<accordion-group
  [heading]="backlog.getHeadingName()">
  <div *ngIf="!backlog.tasks.length" class="row">
    <div class="col-12">
      <p class="text-muted no-tasks">No hay tareas creadas</p>
    </div>
  </div>
  <div cdkDropListGroup *ngIf="backlog.hasTasks()" class="row backlog-tasks">
    <div cdkDropList [cdkDropListData]="tasksInitial"
      (cdkDropListDropped)="moveTask($event)"
      class="initial col-md-3 dashboard-column">
        <app-task *ngFor="let task of tasksInitial"
          [task]="task" cdkDrag cdkDragBoundary=".backlog-tasks"></app-task>
    </div>
    <div cdkDropList [cdkDropListData]="tasksInProgress"
      (cdkDropListDropped)="moveTask($event)"
      class="in-progress col-md-3 border-left dashboard-column">
        <app-task *ngFor="let task of tasksInProgress"
          [task]="task" cdkDrag cdkDragBoundary=".backlog-tasks"></app-task>
    </div>
    <div  cdkDropList [cdkDropListData]="tasksPendingTest"
      (cdkDropListDropped)="moveTask($event)"
      class="pending-test col-md-3 border-left dashboard-column">
        <app-task *ngFor="let task of tasksPendingTest"
          [task]="task" cdkDrag cdkDragBoundary=".backlog-tasks"></app-task>
    </div>
    <div cdkDropList [cdkDropListData]="tasksDone"
      (cdkDropListDropped)="moveTask($event)"
      class="done col-md-3 border-left dashboard-column">
        <app-task *ngFor="let task of tasksDone"
          [task]="task" cdkDrag cdkDragBoundary=".backlog-tasks"></app-task>
    </div>
  </div>
</accordion-group>
