.tasks-dashboard {
  border: 1px solid rgb(221, 221, 221);
  min-height: 75vh;
  margin-bottom: 15px;
}

.active-sprint {
  background-color: rgb(203, 203, 219);
  color: rgb(69, 52, 144);
}

.row-header {
  height: 28px!important;
}

.select-user, .create-button {
  margin-top: -5px!important;
}

.backlog-content {
  margin-bottom: 26px;
}
