.tasks-dashboard {
  border: 1px solid rgb(221, 221, 221);
  min-height: 75vh;
  margin-bottom: 15px;
}

.active-sprint {
  background-color: rgb(203, 203, 219);
  color: rgb(69, 52, 144);
}

.row-header {
  height: 28px!important;
}

.select-user, .create-button {
  margin-top: -5px!important;
}

.new-sprint {
  font-size: 0.5em;
}

.current {
  margin-left: 10px!important;
  font-size: 0.6em;
}

.new-backlog {
  font-size: 0.5em!important;
}

.backlog-content {
  margin-bottom: 26px;
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 999;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
}

.col-fixed {
  position: fixed;
  top: 76px;
  width: 14.5vw;
}

.sprint-info {
  padding: 3px 0px 6px;
  background-color: rgb(246, 246, 246);
  font-size: 0.9em;
  text-align: center;
  border: 1px solid rgb(214, 214, 214);
  p {
    margin: 4px;
  }
}
