<div class="container-fluid">
  <div [class.fixed]="fixedSprintHeader">
    <div class="row" >
      <div class="col-md-2">
        <h4>
          Sprints
          <a class="badge badge-success new-sprint"
            (click)="newSprint()">
            Nuevo Sprint
          </a>
        </h4>
      </div>
      <div class="col-md-10">
        <div class="row row-header">
          <div class="col-md-10">
            <h4 class="flex-grow-1">
              Backlog
              <a class="badge badge-success tasks new-backlog"
                (click)="newBacklog()">
                Nuevo Backlog
              </a>
            </h4>
          </div>
          <div class="col-md-2 flex-row justify-content-end">
            <select class="form-control form-control-sm"
              [(ngModel)]="selected_user" (ngModelChange)="changeUser()">
              <option value=0 selected>Todos los usuarios</option>
              <option *ngFor="let user of users$ | async"
                [value]="user.id">{{ user.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <hr />
      <div [class.col-fixed]="fixedSprintHeader">
        <ul class="list-group">
          <a *ngFor="let sprint of sprints$ | async"
          [routerLink]="'/tareas/' + sprint.url" routerLinkActive="active-sprint"
          class="list-group-item list-group-item-action flex-row justify-content-center">
            {{ sprint.name }}
            <a class="badge badge-secondary current" *ngIf="sprint.current">
              Vigente
            </a>
          </a>
        </ul>
        <hr />
        <div class="sprint-info">
          <p><b>Sprint 5</b></p>
          <p><b>Fecha desde: </b>01/11/2020</p>
          <p><b>Fecha hasta: </b>22/11/2020</p>
          <a class="badge badge-primary"
            (click)="viewSprintDetail()">
            Ver / Editar Sprint
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-10 backlog-content">
      <hr />
      <accordion [isAnimated]="true">
        <app-backlog *ngFor="let backlog of backlog$ | async"
          [backlog]=backlog [selected_user]=selected_user></app-backlog>
      </accordion>
    </div>
  </div>
</div>
