p {
  margin: 0px;
}

.task {
  margin: 5px auto;
  width: 100%;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 6px;
  padding: 5px 5px 6px;
  box-sizing: border-box!important;
  cursor: pointer;
}

.task-title {
  font-weight: bold;
  font-size: 0.9em;
}

.task-user {
  font-size: 0.7em;
  margin-top: 6px;
  .badge {
    font-weight: normal!important;
    font-size: 1.1em;
  }
}

.low {
  background-color: rgb(238, 238, 238);
}

.low:hover {
  background-color: rgb(228, 224, 224);
}

.medium {
  background-color: rgb(240, 246, 214);
}

.medium:hover {
  background-color: rgb(228, 235, 199);
}

.high {
  background-color: rgb(238, 220, 186);
}

.high:hover {
  background-color: rgb(224, 204, 166);
}

.user-badge {
  margin-right: 6px!important;
}
